* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: #1A0B2E;
    color: white;
}
span {
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 200px;
}
.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 32px;
    
}
.navbar ul li a{
    text-decoration: none;
    color: #FFFFFF;
    
}
.btn1 {
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    border: none;
    border-radius: 20px;
    padding: 12px 16px;
    color: white;
    cursor: pointer;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}
.herobg {
    max-width: 100%;
    height: auto;
}
.hero-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    height: 350px;
    width: 350px;
    object-fit: cover;

    
}
.microphone {
    
}
