* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}

body{
    background-color: #1A0B2E;
    color: white;
   
}
span {
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 200px;
}
.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 32px;
    
}
.navbar ul li a{
    text-decoration: none;
    color: #FFFFFF;
    
}
.btn1 {
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    border: none;
    border-radius: 20px;
    padding: 12px 16px;
    color: white;
    cursor: pointer;
}


.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #12002b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wave {
  position: absolute;
  width: 100%;
}

.circle-box {
  position: absolute;
  width: 430px; 
  height: 430px;
  z-index: 2;
  top: 175px;
}

.circle {
  width: 100%;
  display: block;
  
  
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px; 
}


.new-tag {
  position: absolute;
  top: 50px;    
  right: 30px;   
  background: #00FF88;
  color: #050505;
  font-size: 12px;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(255,47,211,0.6);
}
h1{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px;

}
p{
  display: flex;
    text-align: center;
    justify-content: center;
    padding: 0;
    font-size: smaller;
    padding-top: 5px;
    font-weight: lighter;
}
.btn2{
  display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    
    
}
.btnspotify{
  background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
  color:white ;
  border: none;
  border-radius: 30px;
  padding: 15px 25px;
  align-items: center;
  text-align: center;
  justify-content: center
}
.btnsubscribe {
  background: transparent;
  color: #00FF88;
  border: 2px solid #00FF88;
  border-radius: 30px;
  padding: 15px 25px;
  align-items: center;
  text-align: center;
  justify-content: center
}
.join{
  padding-top: 20px;
}
.count {
  font-weight: bolder;
  font-size: 48px;
  color: #00FF88;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 60px 200px 0px 200px;
  list-style: none;
  
}
.reason {
  font-weight: lighter;
  font-size: 20px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 0px 200px 0px 200px;
  list-style: none;
  
}

.about{
  padding-top: 200px;
}

.why{
  max-width:1200px;
  margin:auto;
  padding:60px 20px;
}

.grid{
  display:grid;
  grid-template-columns: 1.2fr 1fr 1fr;
  grid-template-rows: 180px 180px 200px;
  gap:20px;
}

.card{
  background:#250D44;
  border-radius:20px;
  padding:24px;
}


.premium{
  grid-column:1 / 2;
  grid-row:1 / 3;   
}

.mobile{
  grid-column:2 / 4;
  grid-row:1 / 2;
}

.global{
  grid-column:2 / 4;
  grid-row:2 / 3;
}

.interview{
  grid-column:1 / 3;
  grid-row:3 / 4;
}

.resources{
  grid-column:3 / 4;
  grid-row:3 / 4;
}

.Featured{
  max-width:1200px;
  margin:auto;
  padding:60px 20px;
}
.grid2{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
.card2{
  background:#250D44;
  border-radius:20px;
  padding:24px;
}
h5 {
  color: #00FF88;
}

.Featuredimg{
  width:100%;
  height:65%;
  border:none;
}