* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}

body{
    background-color: #1A0B2E;
    color: white;
    
}
span {
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 200px;
}
.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 32px;
    
}
.navbar ul li a{
    text-decoration: none;
    color: #FFFFFF;
    
}
.btn1 {
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    border: none;
    border-radius: 20px;
    padding: 12px 16px;
    color: white;
    cursor: pointer;
}


.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #12002b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wave {
  position: absolute;
  width: 100%;
}

.circle-box {
  position: absolute;
  width: 430px; 
  height: 430px;
  z-index: 2;
  top: 175px;
}

.circle {
  width: 100%;
  display: block;
  
  
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px; 
}


.new-tag {
  position: absolute;
  top: 50px;    
  right: 30px;   
  background: #00FF88;
  color: #050505;
  font-size: 12px;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(255,47,211,0.6);
}